[Unit]
Documentation=https://github.com/ApptuitAI/xcollector/blob/apptuit-master/README.md
SourcePath=/etc/init.d/xcollector
Description=XCollector - Data collection agent for apptuit.ai
After=network.target
Wants=network.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=no
SuccessExitStatus=5 6
ExecStart=/etc/init.d/xcollector start
ExecStop=/etc/init.d/xcollector stop