Package: xcollector
Version: @PACKAGE_VERSION@-@PACKAGE_REVISION@
License: LGPLv3+
Architecture: amd64
Maintainer: <hello@apptuit.ai>
Installed-Size: 7068
Depends: python, python-dev, python-mysqldb, python-yaml, python-requests
Provides: xcollector
Section: System/Monitoring
Priority: extra
Homepage: https://apptuit.ai/xcollector
Description: The xcollector package includes the basic collector and
 all of the dependencies these collectors need.
