Package: xcollector
Version: @PACKAGE_VERSION@-@PACKAGE_REVISION@
License: LGPLv3+
Architecture: @DEB_TARGET@
Maintainer: XCollector Maintainers <hello+xcollector@apptuit.ai>
Installed-Size: 7068
Depends: adduser, lsb-base, python, python-dev, python-mysqldb, python-yaml, python-requests
Provides: xcollector
Section: utils
Priority: optional
Homepage: https://apptuit.ai/xcollector
Description: XCollector - Data collection agent for apptuit.ai
