Package: xcollector
Version: @PACKAGE_VERSION@-@PACKAGE_REVISION@
License: LGPLv3+
Architecture: all
Maintainer: <hello@apptuit.ai>
Installed-Size: 7068
Depends: python, python-dev, python-mysqldb, python-yaml, python-requests
Provides: xcollector
Section: System/Monitoring
Priority: extra
Homepage: https://apptuit.ai/xcollector
Description: XCollector - Data collection agent for apptuit.ai
